/*----------------------------------------
  Todo App
------------------------------------------*/
.app-todo .content-area {
  margin-top: 49px;
  width: calc(100% - 280px); }
  .app-todo .content-area.content-left {
    float: left; }
  .app-todo .content-area.content-right {
    float: right; }
  .app-todo .content-area .app-wrapper .app-search {
    position: relative; }
    .app-todo .content-area .app-wrapper .app-search .search-icon {
      position: absolute;
      top: 15px;
      left: 15px;
      color: #bdbdbd; }
    .app-todo .content-area .app-wrapper .app-search .app-filter {
      background-color: #fff;
      border: none;
      max-width: calc(100% - 3rem);
      border-radius: 0.4rem;
      padding: 0.2rem;
      padding-left: 2.75rem;
      margin-bottom: 0.5rem;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
      .app-todo .content-area .app-wrapper .app-search .app-filter:focus {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
        border-bottom: none !important; }
  .app-todo .content-area .app-wrapper .todo-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 3%;
    border-bottom: 1px solid #e0e0e0; }
    .app-todo .content-area .app-wrapper .todo-header .todo-action {
      display: flex;
      width: 275px;
      justify-content: space-around;
      align-items: center; }
      .app-todo .content-area .app-wrapper .todo-header .todo-action .select-action .dropdown-trigger {
        padding: 0 0.75rem; }
    .app-todo .content-area .app-wrapper .todo-header .header-checkbox [type="checkbox"] + span:not(.lever):before,
    .app-todo .content-area .app-wrapper .todo-header .header-checkbox [type="checkbox"]:not(.filled-in) + span:not(.lever):after {
      border-radius: 4px !important;
      opacity: 0.5;
      margin-left: 1rem; }
  .app-todo .content-area .app-wrapper .delete-task, .app-todo .content-area .app-wrapper .delete-tasks, .app-todo .content-area .app-wrapper .sort-task {
    cursor: pointer; }
  .app-todo .content-area .app-wrapper .collection {
    margin: 0;
    border: 0; }
    .app-todo .content-area .app-wrapper .collection .collection-item {
      display: flex;
      justify-content: space-around;
      padding-left: 0; }
      .app-todo .content-area .app-wrapper .collection .collection-item .list-content {
        width: 85%; }
        .app-todo .content-area .app-wrapper .collection .collection-item .list-content .list-title-area {
          display: flex;
          justify-content: space-between; }
        .app-todo .content-area .app-wrapper .collection .collection-item .list-content .list-title {
          font-weight: 700; }
        .app-todo .content-area .app-wrapper .collection .collection-item .list-content .list-desc {
          color: #9e9e9e;
          margin-top: 0.25rem;
          font-size: 0.9rem;
          line-height: 1.35rem; }
        .app-todo .content-area .app-wrapper .collection .collection-item .list-content .badge {
          display: flex;
          border-radius: 2px;
          font-size: 0.8rem;
          color: #616161;
          padding-right: 8px; }
          .app-todo .content-area .app-wrapper .collection .collection-item .list-content .badge i {
            font-size: 1.25rem;
            line-height: 1.5rem;
            margin-right: 0.25rem !important; }
      .app-todo .content-area .app-wrapper .collection .collection-item .list-date {
        font-size: 0.8rem;
        color: #616161; }
      .app-todo .content-area .app-wrapper .collection .collection-item .favorite i.material-icons, .app-todo .content-area .app-wrapper .collection .collection-item .todo-move i.material-icons, .app-todo .content-area .app-wrapper .collection .collection-item .delete-task i.material-icons {
        color: #bdbdbd;
        cursor: pointer; }
      .app-todo .content-area .app-wrapper .collection .collection-item .todo-move i.icon-move {
        margin-top: 15px;
        cursor: move; }
      .app-todo .content-area .app-wrapper .collection .collection-item [type="checkbox"] + span:not(.lever):before,
      .app-todo .content-area .app-wrapper .collection .collection-item [type="checkbox"]:not(.filled-in) + span:not(.lever):after {
        border-radius: 4px !important;
        opacity: 0.5;
        margin-left: 3px; }

body.dragging, body.dragging * {
  cursor: move !important; }

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000; }

@media (min-width: 1560px) {
  .app-todo .content-area .app-wrapper .todo-header .header-checkbox [type="checkbox"] + span:not(.lever):before,
  .app-todo .content-area .app-wrapper .todo-header .header-checkbox [type="checkbox"]:not(.filled-in) + span:not(.lever):after {
    margin-left: 1.5rem; } }
@media (max-width: 900px) {
  .content-area {
    margin-top: -110px !important; }
    .content-area.content-right, .content-area.content-left {
      width: 100%;
      float: none !important;
      z-index: 1; }

  .sidebar .sidebar-content .sidenav-trigger {
    top: 88px; } }
.add-task-modal .datepicker-modal {
  width: 85%; }

/*# sourceMappingURL=app-todo.css.map */
