// ==========================================================================
// Materialize theme variables
// Extended from : theme-components/variables.scss
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Sidenav

//colors
$breadcrumbs-bg: transparent;
//Sidenav
$sidenav-active-text-color: $white;
$sidenav-active-box-shadow: 3px 3px 20px 0 rgba(2, 60, 101, 0.5);
$sidenav-active-bg:linear-gradient(45deg, #021925, #0b444c);